[transform*="NaN"] {
  display: none;
}

.node circle,
.node rect {
  fill: #fff;
  stroke-width: 3px;
}

.node.Flight rect {
  stroke: green;
}

.node.Patiant.male circle {
  stroke: rgb(22, 130, 218);
}

.node.Patiant.female circle {
  stroke: pink;
}

.node.Patiant.dead circle {
  fill: rgb(192, 39, 12);
}

.node.Patiant.sick circle {
  fill: rgb(255, 255, 0);
}

.node.Patiant.healthy circle {
  fill: rgb(17, 167, 17);
}

.event circle {
  fill: #fff;
  stroke: green;
  stroke-width: 3px;
}

.event line {
  stroke: #ddd;
  stroke-dasharray: 5;
  stroke-width: 3px;
}

.event text {
  transform: translate(-20px, 20px);
}

.node text {
  font: 12px sans-serif;
}

.node:global(.level-0) {
  display: none;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.case rect {
  fill: transparent;
  stroke: green;
  stroke-width: 3px;
}

.case line {
  stroke: brown;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  transition: all 0.3s ease;
}

.link:global(.level-1) {
  display: none;
}

.arrow {
  fill: white;
  stroke: #ccc;
  stroke-width: 1px;
}

.link:hover {
  stroke: brown;
  stroke-width: 3px;
}

.line-text {
  direction: rtl;
  font: 10px sans-serif;
}

:global(.tick) text {
  direction: rtl;
  transform: rotate(-90deg) translate(-25px, -13px);
}

/* .tick line {
  stroke: #ddd;
} */

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
